h1,h3,p,a,button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #000000;
}

/*回头添加右侧导航圆点的样式*/
.side-nav {
    position: fixed;
    top: 45%;
    right: 20px;
    z-index: 1;
}

.side-nav ul.nav-side-nav {
    text-align: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.side-nav ul.nav-side-nav >li {
    display: block;
    line-height: 1.45em;
    margin: 0;
    padding: 8px 0;
}

.side-nav ul.nav-side-nav >li >a {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #e2e2e2;
}


.nav-tabs {
    background-color: #f7e1b5;
}
.nav-tabs-nav {
    list-style: none;
}

/*第一页样式*/
/*设置页面的主高度*/
.page1 {
    height: 800px;
    list-style: none;
}

/*设置背景图片要比page高一些*/
/*相对定位会让图片在page1的下面进行布局*/
/*设置背景图片的水平和垂直居中位置*/
.page1-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
}

#bg1 {
    background-image: url("../img/page01_bg.jpeg");
}

.head-h1-text {
    margin-top: 80px;
    line-height: 40px;
}

.title-text {
    margin-left: 40px;
}

.head-h1-text-right {
    margin-top: 80px;
}

.head-font-size p {
    font-size: 20px;
}

.head-font-size {
    font-size: 18pt;
    color: #ffffff;
}

.head-font-size-right {
    fort-size: 18px;
    color: #ffffff;
}

.head-font-size-right p {
    font-size: 20px;
}


/*第二页样式*/
.page2 {
    padding: 2px 0 0 2px;/*上左右下*/
    width: 100%;
    height : 800px;
    background-image: url("../img/page01_bg.jpeg");
    background-repeat: no-repeat;
    position: relative;
}

.page2-text {
    width: 100%;
    text-align: center;
}

.page2-text-h1 {
    color: #ffffff;
    margin-left: 120px;/*向右移动图片宽度*/
    letter-spacing: 2px;/*啥间距*/
    margin-top: 80px;
    margin-bottom: 0;/*解决bootstrap默认给定的值的冲突*/
    padding: 20px 0 0 0;
}

.page2-text-h1 img {
    width: 120px;
    margin-top: -20px;
}

.page2 .row {
    /*覆盖bootstrap默认的－15效果，原本row应该包含在container中，－15可以保证让他们左右滑动的。*/
    margin-left: 0px;
    margin-right: 0px;
}

.page2-segment {
    float: left;
    background-color: #ffffff;
    padding: 0 0px 0px 0;
    position: relative;
    overflow: hidden;/*超出范围的内容要将他们隐藏*/
}

.page2-segment >a { /*为什么要用>a*/
    /*>a的意思 这个是一个后代选择器，意味着你父元素下面的所有a元素同时具有你赋予的属性*/
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
    /*设置完毕后，几个图片连接之间的间隙就没那么大了。*/
}

.segment-icon h3 {
    color: #d1e973;
    margin-top: 120px;
}

.segment-icon h1 {
    color: #fff5e1;
}

.segment-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
    opacity: 0;
}

.segment-icon:hover {
    background-color: #1eb450;
    opacity: 0.9;
    /*CSS3的动画效果*/
    transition: opacity 0.5s;
    /*浏览器的适配*/
    -webkit-transition: opacity 0.5s;/*只添加了当前浏览器的适配*/
}

/*按钮的样式*/
.btn-page2 {
    width: 100%;
    height: 800px;
    margin: 0 auto;/*上下为0，即可进行居中操作了*/
    text-align: center;
}

/*覆盖掉bootstrap的默认属性*/
.btn-page2 .btn-lg {
    font-size: 25px;
}

#page2-buybtn {
    margin: 50px 0;
    margin-bottom: 100px;
}




/*第三页样式*/
.page3 {
    position: absolute;
    width: 100%;
    height: 800px;
}

.page3-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg3 {
    background-image: url("../img/page3bg.jpg");
}

.container3 {
    /*文字包含在container中*/
    width: 100%;/*宽度*/
    margin: 0 auto;/*左右为0，高度自适应*/
    text-align: center;
}

.page3-text {
    margin-top: 100px;
}

.page3-text h1 {
    margin-top: 10px;
    color: #d1e973;
}

.page3-text p {
    margin-top: 20px;
    color: #ffffff;
    font-size: 20px;
    line-height: 32px;
}

/*覆盖掉bootstrap的默认属性*/
.container3 .btn-lg {
    font-size: 25px;
}

#page3-contact {
    margin: 400px 0;
}

.page4 {
    height: 800px;
    background-image: url("../img/page01_bg.jpeg");
    margin-top: 800px;
}

.page4-title {
    color: #fff;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.page4-title p {
    margin-top: 25px;
    font-size: 20px;
}

/*教程里的图标没有显示是因为没有引入CDN*/
/*向下移动scroll*/
.page4 .container .carousel {
    margin-top: 100px;
}
/*去掉"<" ">"的背景*/
.carousel-control.left {
    /*把背景透明度的地方都改成0*/
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

/*.carousel-control.right {*/
/*right: 0;*/
/*left: auto;*/
/*background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);*/
/*background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);*/
/*background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));*/
/*background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);*/
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);*/
/*background-repeat: repeat-x;*/
/*}*/

/*更改默认的箭头位置，向两边扩散*/
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: -20%;
    /*margin-left: -10px;*/
}

.carousel-control.right {
    right: -20%;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}