<div class="sidebar-module about">
  <h4>{{ site.locales[site.default_locale].Aboutme }}</h4>
  <img title="{{site.author}}" src="{{site.aboutme_photo}}" alt="{{site.author}}"/>
  <span>{{site.aboutme}}</span>
  <br />

  <p>{% if site.ShowContactInfo == "True" %}</p>

  <p>联系我:<br />

  {% if site.email != empty %}
  <a href="mailto:{{site.email}}" title="mailto: {{site.email}}">E-mail</a> /
  {% endif %}
  {% if site.github_username != empty %}
  <a href="https://www.github.com/{{site.github_username}}" title="GithubID: {{site.github_username}}">Github</a> /
  {% endif %}
  {% if site.weibo_username != empty %}
  <a href="http://www.weibo.com/{{site.weibo_username}}" title="WeiboID: {{site.weibo_username}}">新浪微博</a> /
  {% endif %}
  {% if site.douban_username != empty %}
  <a href="https://www.douban.com/people/{{site.douban_username}}" title="DoubanID: {{site.douban_username}}">豆瓣</a>
  {% endif %}

  {% endif %}
  </p>
</div>
